<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Scene-server" %></title>
    
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <header>
      <h3>
        <a href="//scenevr.com" class="logo">VR</a>
        Create Virtual Reality scenes with markup + Javascript
      </h3>
    </header>

    <div class="wrapper">
      <div id="navigation">
        <h3>Navigation</h3>
        
        <ul>
      <% sitemap.where(:primary_navigation => false).order_by(:position).all.each do |resource| %>
          <li<% if resource.url == current_page.url %> class="active"<% end %>>
              <%= link_to resource.metadata[:page]["title"], resource.url %>
          </li>
      <% end %>
      </ul>

      <h3>API Docs</h3>

      <ul>
      <% sitemap.where(:primary_navigation => true).order_by(:title).all.each do |resource| %>
          <li<% if resource.url == current_page.url %> class="active"<% end %>>
              <%= link_to resource.metadata[:page]["title"], resource.url %>
          </li>
      <% end %>
        </ul>
      </div>

      <section class="content">
        <%= yield %>
      </section>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-4944761-12', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>